<a href="https://colab.research.google.com/github/sscalvo/cursoPython/blob/main/Python_Dia1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Curso Python
* No se usan { }
* No se declaran los tipos (a diferencia de Java o C)
* No usa camelCase sino snake_case   
* Indentado 
* Tipado dinámico, pero **fuertemente tipado** (en JavaScript esto funciona: **10 + 3 + "2"  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  "2" + 10 + 3**). Abre una celda y corrígelo


## Palabras reservadas
Crea una celda nueva y usa el comando **help('keywords')** para obtener un listado de las palabras reservadas de Python


## Funciones predefinidas (builtins)
Listado de funciones que vienen disponibles por defecto en Python

![picture](https://drive.google.com/uc?id=1iYprRQ27QsBEsKocHLwLFpB8S5zL-xS2)

## Tipos de datos

*   Numéricos

In [ ]:
# Convertir entero a decimal (float)
entero = 10
print('entero',entero)           
decimal = float(entero)
print('decimal:', decimal)       

# Convertir un valor con decimales a entero
gravedad = 9.81
print(int(gravedad))             
print(type(int(gravedad)))       

# Convertir entero a string
cadena = str(entero)
print(cadena)                    

# Convertir string a entero o decimal
cadena = '14' 
print('entero', int(cadena))    
print('decimal', float(cadena))

## Operadores

*   Operadores aritméticos

![picture](https://drive.google.com/uc?id=1Nv9rfDdMhr70JU0VtImGF5SyiN3lbZsQ)

*   Operadores de asignación

![picture](https://drive.google.com/uc?id=1kiqIZw-Ke4hNzNsTUCSnMHbnR0F6JUii)

*   Operadores de comparación

![picture](https://drive.google.com/uc?id=1_UXgm0Ko_uh0rssF8Sqf_c4pmIylBINI)

*   Operadores lógicos

![picture](https://drive.google.com/uc?id=1KT0TpdqLgAoxze2NHQM2s8snz4Pt7bam)

# Ejercicios de repaso



---


## Calcula la distancia entre dos puntos del plano cartesiano
* Punto 1 es (0,0)
* Punto 2 es (3,4) 

Fórmula para calcular la hipotenusa de un triangulo:

$$d= \sqrt { ({x_2-x_1 })^{2} + ({y_2-y_1 })^{2} } $$

Puedes obtener ayuda usando **help('math')** 

Puedes ver aqui la imagen:

![picture](https://ecuaciones.online/wp-content/uploads/2018/08/distancia-entre-dos-puntos-en-el-plano.jpg)

In [ ]:
# Calcular distancia entre dos puntos:

Haremos ahora la versión genérica, para cualquier par de puntos. Preguntaremos al usuario por cada una de las coordenadas, usando la función **input()**

In [ ]:
# Distancia entre dos puntos cualquiera



---


## ¿Par o impar?
Preguntar al usuario por un numero e imprimir 0 en caso de que se trate de un número **par** o un 1 se se trata de un número **impar**

In [ ]:
# ¿Par o impar?

Escribe un numero: 44
0